 <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                    <form method="POST" action="">
                            <table>
                            {% for complect in sales %}
                            <tr>
                                <td>{{ complect.complect.hookah.name }}
                                {{ complect.complect.hookah.price }}</td>
                                <td>{{ complect.complect.bowl.name }}
                                {{ complect.complect.bowl.price }}</td>
                                <td>{{ complect.complect.tabacco.name }}
                                {{ complect.complect.tabacco.price }}</td>
                                <td>{{ complect.complect.coals.name }}
                                {{ complect.complect.coals.price }}</td>
                                <td>{{ complect.price }}</td>
                            {% endfor %}
                            </tr>
                            </table>
                    </form>
            </div>
        </div>
    </div>