 <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                            <table>
                            {% for complect in view %}
                                {{ complect.hookah.name }}
                                {{ complect.hookah.price }}
                                {{ complect.bowl.name }}
                                {{ complect.bowl.price }}
                                {{ complect.tabacco.name }}
                                {{ complect.tabacco.price }}
                                {{ complect.coals.name }}
                                {{ complect.coals.price }}
                            {% endfor %}
                            </table>
            </div>
        </div>
    </div>