 <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                            <table>
                            {% for complect in view %}
                            <tr>
                                <td>{{ complect.hookah.name }}
                                {{ complect.hookah.price }}</td>
                                <td>{{ complect.bowl.name }}
                                {{ complect.bowl.price }}</td>
                                <td>{{ complect.tabacco.name }}
                                {{ complect.tabacco.price }}</td>
                                <td>{{ complect.coals.name }}
                                {{ complect.coals.price }}</td>
                                <td>{{ complect.price }}</td>
                            {% endfor %}
                            </tr>
                            </table>
            </tr>
            </div>
        </div>
    </div>