<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
PRODUCT PAGE
<table class="table">
<tr>
    <th>Product</th>
    <th>Category</th>
    <th>Description</th>
    <th>Price</th>
</tr>
    {% for product in hookahs %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.decsription }}</td>
            <td>{{ product.price }}</td>
        </tr>
    {% endfor %}
</table>
<table class="table">
<tr>
    <th>Product</th>
    <th>Category</th>
    <th>Description</th>
    <th>Price</th>
</tr>
    {% for product in bowls %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.decsription }}</td>
            <td>{{ product.price }}</td>
        </tr>
    {% endfor %}
</table>
<table class="table">
<tr>
    <th>Product</th>
    <th>Category</th>
    <th>Description</th>
    <th>Price</th>
</tr>
    {% for product in tabacco %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.decsription }}</td>
            <td>{{ product.price }}</td>
        </tr>
    {% endfor %}
</table>
<table class="table">
<tr>
    <th>Product</th>
    <th>Category</th>
    <th>Description</th>
    <th>Price</th>
</tr>
    {% for product in coals %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.decsription }}</td>
            <td>{{ product.price }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>